{% extends 'layout.html' %}

{% block content %}



<div>
    <h3>Profile</h3>
    <hr>

    <div class="row">
        <div class="col-3">
            <img src="https://via.placeholder.com/500/1000" alt="Profile Image" class="img-fluid">
        </div>
        <div class="col-9">
            <form action="{{ url_for('main.profile') }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" value="{{ current_user.first_name }}"class="form-control" name="f_name">
                        </div>
                        <div class="col-6">
                            <input type="text" value="{{ current_user.last_name }}"class="form-control" name="l_name">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="file" placeholder="Image" name="image" calss="form-control-file">
                </div>
                <div class="form-group">
                    <input type="email" value="{{ current_user.email }}" name="email" calss="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="password" calss="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Confirm Password" name="confirm_password" calss="form-control">
                </div>
                <input type="submit" value="Update Profile" calss="btn btn-info btn-block">
            </form>
        </div>
    </div>

    <hr>

    <ul class="list-group">
        {% for p in posts %}
        <li class="list-group-item">
                <p><a href="{{ url_for('blog.post', id=p.id) }}">{{ p.body }}</a></p>
                <p>
                    <cite>&mdash; {{ p.user.email }}</cite>
                    <span class="float-right">
                        <small> {{ moment(p.date_created).fromNow() }}</small>
                    </span>
                </p>
        </li>
        {% endfor %}
    </ul>


</div>


{% endblock content %}